node_modules
.vscode/
tsconfig.tsbuildinfo
.env.*local

# Ignore user IntelliJ settings
.idea/

# Ignore users local python venvs
.venv/

# Ignore any local tox virtualenvs
.tox/

.eslintcache
.jest-cache
.stylelintcache

# Ignore the test reports
coverage/
junit.xml

# Allow for local overrides of docker-compose.yml. https://docs.docker.com/compose/multiple-compose-files/merge/
docker-compose.override.yml

# Ignore temporary files created during a release
releases/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

plugins-venv/
plugins-dev-venv/