node_modules
.vscode/
tsconfig.tsbuildinfo

# Ignore user IntelliJ settings
.idea/

# Ignore users local python venvs
.venv/

# Ignore any local tox virtualenvs
.tox/

.eslintcache
.stylelintcache

# Ignore the test reports
junit.xml

# Allow for local overrides of docker-compose.yml. https://docs.docker.com/compose/multiple-compose-files/merge/
docker-compose.override.yml

# Ignore temporary files created during a release
releases/
