# When adding new files here, consider adding them to `tools/plugin_builder.py` as well.
# particularly for large build directories with lots of files or directories that may cause infinite loops
# because they are built by the plugin builder.

node_modules
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
tsconfig.tsbuildinfo
.env.*local

# Ignore user IntelliJ settings
.idea/

# Ignore users local python venvs
.venv/

# Ignore any local tox virtualenvs
.tox/

.eslintcache
.jest-cache
.stylelintcache

# Ignore the test reports
coverage/
junit.xml

# Allow for local overrides of docker-compose.yml. https://docs.docker.com/compose/multiple-compose-files/merge/
docker-compose.override.yml

# Ignore temporary files created during a release
releases/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

plugins-venv/
plugins-dev-venv/

# Docs snapshots
extract-results/
snapshot-results/