pre-commit==3.3.3
build
pip
# setuptools>=64 required for PEP 660 editable installs of namespace packages
# used by `pip install -e` in tools/plugin_builder.py
setuptools>=64
tox

# Plugin builder dependencies
click
watchdog
deephaven-server