name: Release Python Package

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  test:
    uses: ./.github/workflows/test-python-package.yml
    with:
      package: ${{ inputs.package }}

  build-plugin:
    needs: test
    uses: ./.github/workflows/build-python-package.yml
    with:
      package: ${{ inputs.package }}
      artifact-name: dist-${{ inputs.package }}

  release:
    needs: build-plugin
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    outputs:
      version: ${{ steps.extract_version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: dist-${{ inputs.package }}
          path: plugins/${{ inputs.package }}/dist/

      - name: Get the name of the whl file
        id: get_whl
        run: |
          WHL_DIR=plugins/${{ inputs.package }}/dist/
          WHL_FILE=$(ls $WHL_DIR | grep .whl)
          echo "whl_path=${WHL_DIR}${WHL_FILE}" >> $GITHUB_OUTPUT

      - name: Install pkginfo
        run: pip install pkginfo

      - name: Extract package version
        id: extract_version
        run: |
          VERSION=$(python -c 'import pkginfo; print(pkginfo.Wheel("${{ steps.get_whl.outputs.whl_path }}").version)')
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      # - name: Publish package
      #   uses: pypa/gh-action-pypi-publish@release/v1
      #   with:
      #     packages-dir: plugins/${{ inputs.package }}/dist/
      #     attestations: false # TODO: Followup this thread to see if there's a better fix https://github.com/pypa/gh-action-pypi-publish/issues/283

  check-make-docs:
    runs-on: ubuntu-22.04
    outputs:
      files_exists: ${{ steps.check_files.outputs.files_exists }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v3
        with:
          files: 'plugins/${{ inputs.package }}/make_docs.py'

  release-docs:
    if: needs.check-make-docs.outputs.files_exists == 'true'
    needs:
      - release
      - check-make-docs
    uses: ./.github/workflows/make-docs.yml
    secrets: inherit
    with:
      package: ${{ inputs.package }}
      version: ${{ needs.release.outputs.version }}
