name: Release Python Package

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  test:
    uses: ./.github/workflows/test-python-package.yml
    with:
      package: ${{ inputs.package }}

  build-dist:
    needs: test
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v3
        with:
          files: "plugins/${{ inputs.package }}/src/deephaven/js/package.json"
  
      - name: Install npm dependencies
        if: steps.check_files.outputs.files_exists == 'true'
        run: npm install
  
      - name: Build npm packages
        if: steps.check_files.outputs.files_exists == 'true'
        run: npm run build

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install build dependencies
        run: python -m pip install --upgrade setuptools wheel build

      - name: Build wheel
        run: python -m build --wheel --sdist plugins/${{ inputs.package }}

      - name: Upload dist
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: plugins/${{ inputs.package }}/dist/
          if-no-files-found: error

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: plugins/${{ inputs.package }}/dist/
