name: Test Python Package

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'

      - name: Install tox
        run: pip install tox
        working-directory: 'plugins/${{ inputs.package }}'

      - name: Run tox
        run: tox -e py${{ matrix.python }}
        working-directory: 'plugins/${{ inputs.package }}'
