# This workflow will perform unit tests of the javascript plugins

name: Test JS Packages

on:
  workflow_dispatch:
  workflow_call:
jobs:
  unit:
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Cache jest
        uses: actions/cache@v4
        with:
          path: |
            .jest-cache
            plugins/**/.jest-cache
          key: ${{ runner.os }}-jestcache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-jestcache-

      - name: Cache linters
        uses: actions/cache@v4
        with:
          path: |
            .eslintcache
            plugins/**/.eslintcache
            .stylelintcache
            plugins/**/.stylelintcache
          key: ${{ runner.os }}-lintcache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-lintcache-

      - name: Restore cached node modules
        id: restore-node-modules
        uses: actions/cache/restore@v4
        with:
          path: |
            node_modules
            plugins/**/node_modules
          key: unit-node-modules-${{ hashFiles('package-lock.json')}}

      - name: Install dependencies
        if: steps.restore-node-modules.outputs.cache-hit != 'true'
        run: npm ci --no-audit

      - name: Build and type check
        run: npm run build

      # Run all tests for all the packages
      # Caching with the absolute path b/c Jest will make a folder in each project
      # Then there's caches in all plugin folders
      - name: Run Tests
        if: always() # Can still run jest tests even if the build/types fail
        run: npm run test:ci

      - name: Always cache node modules
        id: cache-node-modules
        if: always() && steps.restore-node-modules.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.restore-node-modules.outputs.cache-primary-key }}
          path: |
            node_modules
            plugins/**/node_modules
